<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}">
</head>

<body style="font-family: 'Arial', sans-serif; background-color: #f4f4f4; color: #333; text-align: center;">

    <div style="padding: 50px;">
        <img src="https://placekitten.com/200/200" alt="Sad Cat Image" style="border-radius: 50%; margin-bottom: 20px;">
        <h1 style="font-size: 36px; color: #ff4500; margin-bottom: 10px;">404 Not Found</h1>
        <p style="font-size: 18px; margin-bottom: 20px;">Oops! It seems like you got lost!</p>

        <p style="font-size: 16px; margin-bottom: 30px;">The page you are looking is not found.
            Don't worry, click the button below to return to safety.</p>

        <a href="/"
            style="text-decoration: none; background-color: #3498db; color: #fff; padding: 10px 20px; font-size: 18px; border-radius: 5px;">Go
            Home</a>
    </div>

    <footer style="position: fixed; bottom: 0; width: 100%; background-color: #333; color: #fff; padding: 10px 0;">
        <p>&copy; 2023 Open-Source Repository Security Tracker - Group C - BSC 3106</p>
    </footer>

</body>

</html>