<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open-Source Repository Security Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1><u>Open-Source Repository Security Tracker</u></h1>
        <p>Tracking security issues in open-source programming languages made easy.</p>
    </header>

    <section id="buttons">
        <h2>LOGIN OR REGISTER</h2><br>
        <button onclick=window.location.href="/login">SIGN IN</button>
        <button onclick=window.location.href="/register">SIGN UP</button>
    </section>

    <section id="features">
        <h2>Key Features</h2>
        <ul>
            <li>Track security issues in your chosen programming language.</li>
            <li>Report and discuss issues with the community.</li>
            <li>Stay up to date with security alerts.</li>
        </ul>
    </section>

    <section id="about">

        <h2>Project Collaboraters: </h2><br>
        <p> BSCNRB548222 ,
            BSCNRB587922 ,
            BSCNRB443722 ,
            BSCNRB591520 ,
            BSCNRB595022 </p>

    </section>

    <footer>
        <p>&copy; 2023 Open-Source Repository Security Tracker</p>
    </footer>
</body>

</html>