<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open-Source Repository Security Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1><u>Open-Source Repository Security Tracker</u></h1>
        <p>Tracking security issues in open-source programming languages made easy.</p>
    </header>

    <div class="login-container">
        <h1>LOGIN FOR EXISTING USERS</h1>
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="alert">
                {% if message %}
                {{ message }}
                {% endif %}
            </div>
            <button type="submit" class="btn-login">Sign In</button>
        </form>
        <div class="register-link">
            <p>Don't have an account yet? <a href="/register">Sign Up</a></p>
        </div>
    </div>


    <section id="features">
        <h2>Key Features</h2>
        <ul>
            <li>Track security issues in your chosen programming language.</li>
            <li>Report and discuss issues with the community.</li>
            <li>Stay up to date with security alerts.</li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2023 Open-Source Repository Security Tracker</p>
    </footer>
</body>

</html>