<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open-Source Repository Security Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1><u>Open-Source Repository Security Tracker</u></h1>
        <p>A Flask app for reporting and tracking security issues in open-source projects.</p>
    </header>

    <div class="registration-container">
        <h1>REGISTER FOR NEW USERS</h1>
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="alert">
                {% if message %}
                {{ message }}
                {% endif %}
            </div>
            <button type="submit" class="btn-register">Sign Up</button>
        </form>
        <div class="login-link">
            <p>Already have an account? <a href="/login">Sign In</a></p>
        </div>
    </div>

    <section id="features">
        <h2>Key Features</h2>
        <ul>
            <li>Reporting of issues which are saved to a cloud database.</li>
            <li>Track security issues with custom filter searches</li>
            <li>Stay up to date with security alerts.</li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2023 Open-Source Repository Security Tracker - Group C - BSC 3106</p>
    </footer>
</body>

</html>